@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --clr-primary-400: hsl(0, 0%, 0%);

  --ff-primary: "Roboto Mono", monospace;
  --ff-body: var(--ff-primary);

  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-200: 0.8125rem;
  --fs-300: 0.875rem; /*14px*/
  --fs-400: 0.9375rem;
  --fs-500: 1rem;
  --fs-600: 1.1875rem; /*19px*/
  --fs-700: 1.4rem; /*23px*/
  --fs-800: 1.75rem; /*28px*/
  --fs-900: 2.5rem;
  --fs-1000: 3.5rem;
  --fs-1100: 4rem;

  --fs-body: var(--fs-500);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-800);
  --fs-paragraph-heading: var(--fs-700);
  --fs-nav: var(--fs-400);
  --fs-btn: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.25rem;
  --size-600: 1.5rem;
  --size-700: 2rem;
  --size-800: 2.5rem;
  --size-900: 3rem;

  --section-padding-default: 3rem;
  --section-padding-lg: 11.7rem;
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-1100);
    --fs-secondary-heading: var(--fs-900);

    --fs-nav: var(--fs-300);
  }
}
/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  background-color: var(--clr-primary-400);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}
button {
  line-height: 1;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  -webkit-font-smoothing: antiliased;
}
a {
  text-decoration: none;
}
/*general styling*/
.logo {
  font-size: var(--fs-800);
  letter-spacing: 0ch;
  font-weight: var(--fw-bold);
}
/*primary navigation*/
.primary-header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  /* .primary-navigation { */
  display: flex;
  flex-direction: row;
  gap: clamp(var(--size-400), 5vw, var(--size-700));
  font-weight: var(--fw-regular);
}
.nav-list-hidden {
  columns: 2;
  position: fixed;
  top: 8rem;
  margin-right: 2rem;
}
.nav-list-hidden li {
  padding-right: 4rem;
  padding-bottom: 1rem;
}

.paragraph-btn-padding {
  padding: 2rem 0.5rem;
}
.btn-margin-top {
  margin-top: 1.5rem;
}

@media (min-width: 50em) {
  .paragraph-btn-padding {
    padding: 5rem;
  }
  .btn-margin-top {
    margin-top: 2rem;
  }
}
@media (min-width: 90em) {
  .paragraph-btn-padding {
    padding: 8rem;
  }
}

.white-btn {
  color: var(--clr-primary-400);
  background-color: white;
  border: none;
  border-radius: 22px;
  padding: 0.75rem 1rem;
  letter-spacing: 2px;
  transition: all 200ms ease-in-out;
}
.white-btn:hover {
  opacity: 0.6;
}

@media (max-width: 50em) {
  .reverse-order {
    grid-template-areas: "one" "two";
  }
  .reverse-one:nth-child(1) {
    grid-area: two;
  }
  .reverse-two:nth-child(2) {
    grid-area: one;
  }
}
.btn-margin-left {
  margin-left: var(--size-400);
}

.image-caption-container {
  margin-top: 1rem;
  padding-right: 1rem;
}
.grid-gap {
  gap: 1.5rem;
}
.card-text {
  --max-width: 500px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding)) * 2);
}
.card-padding-top {
  padding-top: var(--size-400);
}
@media (768px <= width <= 1023px) {
  .card-text {
    --max-width: 330px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding)) * 2);
  }
  .img-caption-section img {
    width: 100vw;
  }
  /* … */
  .card {
    padding: var(--size-400);
  }
  .flex-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .grid-area {
    grid-template-areas: "one" "two";
  }
  .grid-area:nth-child(1) {
    grid-area: one;
  }
  .grid-area:nth-child(2) {
    grid-area: two;
  }
}
@media (min-width: 500px) {
  .btn-center {
    display: flex;
    justify-content: center;
  }
}

.footer-list li {
  display: flex;
  flex-direction: column;
  max-width: 245px;
}
.footer-link,
.newsletter-item {
  padding: 12px 17px;
}
.social-icons-list {
  display: flex;
}
.social-icon {
  padding: 1.0625rem;
}

@media (min-width: 31em) {
  .footer-navigation {
    columns: 2;
  }
  .newsletter-item {
    border: 0.25px solid hsl(0, 0%, 50%);
    border-radius: 100vmax;
    max-width: fit-content;
    line-height: 1;
  }
  .footer-navigation {
    --max-width: 490px;
    --padding: 1rem;
    width: min(var(--max-width), 100% - (var(--padding)) * 2);
    /* margin-inline: auto; */ /*does not work in safari? */
  }
}
@media (31em <= width <= 47em) {
  .newsletter-socialIcons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--size-700);
    margin-right: 4rem;
  }
}
@media (48em <= width <= 64em) {
  .newsletter-socialIcons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -4rem;
  }
}
@media (min-width: 65em) {
  .newsletter-socialIcons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -4rem;
  }
}
.footer {
  padding-bottom: var(--size-700);
}
.video-one {
  --max-width: 1450px;
  /* --padding: 2rem; */
  /* width: min(var(--max-width), 100% - (var(--padding) * 2)); */
  /* position: relative; */
  width: min(var(--max-width), 100%);

  margin-left: auto;
  margin-right: auto;
  padding-top: var(--section-padding-default);
  z-index: -100;
}
.video-wrapper {
  position: relative;
}
@media (min-width: 50em) {
  .video {
    padding: var(--size-600);
    padding-top: var(--section-padding-lg);
  }
}

.play-icon {
  background-color: none;
  display: block;

  background: transparent;
  border: 0;
  padding: 0.5em;
  position: absolute;
  top: 45%;
  left: 45%;
  cursor: pointer;
}
@media (min-width: 50em) {
  .play-icon {
    height: 5rem;
    width: 5rem;
    top: 47%;
    left: 47%;
  }
}
.hide {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
}
/*utility classes*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.mobile-nav-toggle {
  position: relative;
  cursor: pointer;

  background: transparent;
  border: 0;
  padding: 0.5em;
}

.overlay {
  position: fixed;
  inset: 3.7rem 0 0;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)); */
  background-color: black;
}

.mobile-nav-toggle .icon-close {
  display: none;
}
* {
  font-family: var(--ff-primary);
  color: white;
}
@media (min-width: 50em) {
  .vh-100 {
    height: 100vh;
  }
}
.text-align-center {
  text-align: center;
}
.container {
  --max-width: 1425px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding)) * 2);
  /* margin-inline: auto; */ /*does not work in safari? */
  margin-right: auto;
  margin-left: auto;
  padding-top: var(--section-padding-default);
}
@media (min-width: 50em) {
  .container {
    padding-top: var(--section-padding-lg);
  }
}
.text-container {
  --max-width: 970px;
  padding: 0 1rem;

  width: min(var(--max-width), 100%);
  /* margin-inline: auto; */ /*does not work in safari? */
  margin-right: auto;
  margin-left: auto;
  text-align: start;
}
/* @media (max-width: 48em) {
  .text-container {
    padding: 0 5rem;
  }
}
@media (max-width: 48em) {
  .text-container {
    padding: 0 1rem;
  }
} */
@media (min-width: 27em) {
  .text-container {
    text-align: center;
  }
}
.vertical-align-center {
  align-items: center;
}
.justify-self-end {
  justify-self: end; /*works with grid but not flex*/
}
.even-columns {
  display: grid;
  padding: 1rem;
}

/*50 em = 800px*/
@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
  .mobile-nav-toggle {
    display: none;
  }
}
.modal-nav {
  padding-left: var(--size-800);
}
.modal li {
  padding: 0.5rem;
}
@media (max-width: 50em) {
  .primary-navigation {
    display: none;
  }
}
.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-light {
  font-weight: var(--fw-light);
}
/*font sizes*/
.fs-btn {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400); /*14px*/
}
.fs-primary-heading {
  font-size: var(--fs-800);
}
.fs-secondary-heading {
  font-size: var(--fs-700);
}
.fs-paragraph-heading {
  font-size: var(--fs-600);
}
@media (min-width: 50em) {
  .fs-primary-heading {
    font-size: var(--fs-1000);
  }
  .fs-secondary-heading {
    font-size: var(--fs-700);
  }
  .fs-paragraph-heading {
    font-size: var(--fs-700);
  }
}

.padding-block-400 {
  padding: var(--size-400);
}
.padding-block-900 {
  /* padding-block: var(--size-900); */
  padding: var(--size-900);
}
.padding-block-700 {
  /* padding-block: var(--size-700); */
  padding: var(--size-700); /*works in safari the former does not*/
}

@media (min-width: 65em) {
  .fs-primary-heading {
    font-size: var(--fs-1100);
  }
  .fs-secondary-heading {
    font-size: var(--fs-800);
  }
}
/*hover effects*/
.before-after-effect::before {
  /* left: 0; */
  content: "[ ";
  color: white;
  opacity: 0;
  transition: all 750ms ease-in-out;
}

.before-after-effect::after {
  /* right: 0; */
  content: " ]";
  color: white;
  opacity: 0;
  transition: all 750ms ease-in-out;
}
.before-after-effect:hover::after,
.before-after-effect:hover::before {
  opacity: 1;
}
